*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9BA3C7;
}
:root{
  --prim:#404757;
  --btn:#726CFF;
  --text:white
}
::-webkit-scrollbar {
  width: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  display: flex;justify-content: center;align-items: center;
}
.btn{
  background-color: var(--btn);
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  cursor: pointer;

}
.btn:hover{
  background-color: #928efc;;
}
.btn:active{
  background-color: var(--btn);
}
.lnk{
  color: var(--btn);
}